[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
pre-commit = "*"
yamllint = "*"
molecule = {extras = ["docker"], version = "*"}

[dev-packages]
