[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
molecule = {extras = ["docker"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
